/*VARIABLES*/ 

/*Colores*/
$violeta1: rgb(94, 48, 90);
$violeta2: rgb(234, 119, 225);
$violeta3: rgb(158, 80, 152);
$violeta4: rgb(171, 87, 165);
$violeta5: rgb(132, 67, 127);
$verdeagua1: rgb(155, 234, 223);
$verdeagua2: rgb(0, 191, 174);
$verdeagua3: rgb( 0, 153, 138);
$verdeagua4: rgb(0, 115, 103);
$blanco: rgb(242, 242, 242);
$grisclaro: rgb(191, 191, 191);
$gris:rgb(166, 166, 166);
$grisoscuro: rgb(89, 89, 89);
$negro: rgb(13, 13, 13);

